# Chances of Winning the Lottery

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

In this project I will help a medical institute that aims to prevent and treat gambling addictions. It wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need help to create the logical core of the app and calculate probabilities.

For the first version of the app, they want me to focus on the 6/49 lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?
- The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set has data for 3,665 drawings, dating from 1982 to 2018.

The scenario we're following throughout this project is fictional — the main purpose is to practice applying probability concepts.

In [1]:
import pandas as pd
import numpy as np

### Core Functions that will be used often:

- factorials

$$
\begin{aligned}
n! = n \cdot (n-1) \cdot (n-2)\dots \cdot 2 \cdot 1
\end{aligned}
$$

- combinations

$$
\begin{aligned}
C_k ^n = \left( \begin{array}{c} n\\k \end{array} \right) = \frac{n!}{k!(n-k)!}
\end{aligned}
$$

In [2]:
def factorial(n):
    '''
    return factorial of number n
    '''
    factorial = 1
    for i in range(n, 0, -1):
        factorial *= i
    return factorial

def combinations(n, k):
    '''
    return combination of n and k
    '''
    return factorial(n) / (factorial(k) * factorial(n - k))

# check if it works
print('factorial of 4: ' + str(factorial(4)))
print('combinations of 49 and 6: ' + str(combinations(49, 6)))

factorial of 4: 24
combinations of 49 and 6: 13983816.0

### Probability of Winning the big Price

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

### Task 1:
write a function one_ticket_probability(), which takes in a list of six unique numbers and prints the probability of winning in a way that's easy to understand.

In [14]:
def one_ticket_probability(arr):
    '''
    arr = list of 6 unique numbers
    '''
    total = combinations(49, 6) # total amount of possible combinations
    probability_one_ticket = 1/total
    probability_one_ticket_percent = probability_one_ticket*100
    
    print('''Your chances to win the big prize with the numbers {} are {:.7f}%.
In other words, you have a 1 in {:,} chance to win.'''.format(arr,
                    probability_one_ticket_percent, int(total)))
    return

print('first combination: \n')
arr_1 = [13, 22, 24, 27, 42, 44]
one_ticket_probability(arr_1)

print('\n' +  '-' * 35 +  '\n')
print('second combination: \n')

arr_2 = [2, 43, 22, 23, 11, 5]
one_ticket_probability(arr_2)

first combination:

Your chances to win the big prize with the numbers [13, 22, 24, 27, 42, 44] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chance to win.

-----------------------------------

second combination:

Your chances to win the big prize with the numbers [2, 43, 22, 23, 11, 5] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chance to win.

Probability to win stays the same for any combination! This is actually quite logical, the array could just be left out of the function.

### Task 2: Historical Data Check of Canadian Lottery

The institute also wants us to consider the data coming from the national 6/49 lottery game in Canada. The data set contains historical data for 3,665 drawings, dating from 1982 to 2018 (the data set can be downloaded from __[here](https://www.kaggle.com/datasets/datascienceai/lottery-dataset)__).

In [4]:
df = pd.read_csv('649.csv')
df['DRAW DATE'] = pd.to_datetime(df['DRAW DATE'])
df.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,1982-06-12,3,11,12,14,41,43,13
1,649,2,0,1982-06-19,8,33,36,37,39,41,9
2,649,3,0,1982-06-26,1,6,23,24,27,39,34
3,649,4,0,1982-07-03,3,9,10,13,20,43,34
4,649,5,0,1982-07-10,5,14,21,31,34,47,45

In [5]:
df.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,2018-06-06,10,15,23,38,40,41,35
3661,649,3588,0,2018-06-09,19,25,31,36,46,47,26
3662,649,3589,0,2018-06-13,6,22,24,31,32,34,16
3663,649,3590,0,2018-06-16,2,15,21,31,38,49,8
3664,649,3591,0,2018-06-20,14,24,31,35,37,48,17

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   datetime64[ns]
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: datetime64[ns](1), int64(10)
memory usage: 315.1 KB

In [7]:
df.shape

(3665, 11)

### Comparison of Historical Data to theoretical Probability of Winning
Function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
  - the number of times the combination selected occurred in the Canada data set; and
  - the probability of winning the big prize in the next drawing with that combination.

In [8]:
df.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,1982-06-12,3,11,12,14,41,43,13
1,649,2,0,1982-06-19,8,33,36,37,39,41,9
2,649,3,0,1982-06-26,1,6,23,24,27,39,34
3,649,4,0,1982-07-03,3,9,10,13,20,43,34
4,649,5,0,1982-07-10,5,14,21,31,34,47,45

In [9]:
def extract_numbers(row):
    '''
    extract entries in columns 4:10 (winning numbers) of row (row of dataframe)
    '''
    row = row[4:10]
    row = set(row.values)
    return row

winning_numbers = df.apply(extract_numbers, axis = 1) # apply extract_numbers to each row of the dataframe
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [10]:
def check_historical_occurance(user_list, winning_numbers):
    '''
    take a userdefined list and compare it to all the historical winning combinations
    '''
    
    user_list = set(user_list) # revert to set
    check_occurance = user_list == winning_numbers # compare occurances
    n_occurances = check_occurance.sum() # summ up the matches of combination against historical data
    
    if n_occurances == 0:
        print('''The combination {} has never occured'''.format(user_list)) 
    else:
        print('''The number of times combination {} has occured in the past is {}.'''.format(user_list, n_occurances))
    return

user_list_test = [33, 36, 37, 39, 8, 41] # arbitrary user list
check_historical_occurance(user_list_test, winning_numbers)

The number of times combination {33, 36, 37, 39, 8, 41} has occured in the past is 1.

In [11]:
user_list_test_b = [33, 9, 8, 10, 8, 41] # another arbitrary user list
check_historical_occurance(user_list_test_b, winning_numbers)

The combination {33, 8, 9, 10, 41} has never occured

## Multiple Tickets

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [12]:
def multi_ticket_probability(n):
    '''
    calculate the changes of winning with more than 1 ticket
    n = number of tickets (1 < = n >= 13,983,816 )
    '''
    total = combinations(49, 6) # total no of combinations for 6 number lotary ticket
    winning_probability = n/total
    winning_probability = winning_probability*100
    
    if n == 1:
        print('''Your change of winning by inputing {} ticket is {:.7f}%'''.format(n, winning_probability))
    else:
        print('''Your change of winning by inputing {} tickets is {:.7f}%'''.format(n, winning_probability))
    return

test_cases = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for case in test_cases:
    multi_ticket_probability(case)

Your change of winning by inputing 1 ticket is 0.0000072%
Your change of winning by inputing 10 tickets is 0.0000715%
Your change of winning by inputing 100 tickets is 0.0007151%
Your change of winning by inputing 10000 tickets is 0.0715112%
Your change of winning by inputing 1000000 tickets is 7.1511238%
Your change of winning by inputing 6991908 tickets is 50.0000000%
Your change of winning by inputing 13983816 tickets is 100.0000000%

## Smaller Prizes

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

- Inside the app, the user inputs:
    - six different numbers from 1 to 49; and
    - an integer between 2 and 5 that represents the number of winning numbers expected
- Our function prints information about the probability of having the inputted number of winning numbers.

In [13]:
def probability_less_6(n):
    '''
    returns chance of winning depending on the integer n
    n takes values between 2 and 5
    '''
    
    n_combinations = combinations(6, n) # no of possible combinations 
    n_remaining_combinations = combinations(43, 6 - n) # remaining no of possible combinations
    n_total_successfull_outcomes = n_combinations * n_remaining_combinations # total no of succesfull outcomes
    
    p_n_winning_numbers = n_total_successfull_outcomes / combinations(49, 6) # total probability of having n winning numbers
    p_n_winning_numbers_percent = p_n_winning_numbers * 100 # '...' in percent 
    
    # total no of combinations / no of successfull outcomes:
    n_combinations_simplifyied = round(combinations(49, 6) / n_total_successfull_outcomes)
    
    # happy output message:
    print('''Your chances of having {} winning numbers with this ticket are {:.7f}%. 
In other words, your chance of winning are 1 in {}'''.format(n, p_n_winning_numbers_percent, n_combinations_simplifyied))
    return

cases = [2, 3, 4, 5] # test cases

for case in cases:
    probability_less_6(case)
    print('-' * 35)

Your chances of having 2 winning numbers with this ticket are 13.2378029%.
In other words, your chance of winning are 1 in 8
-----------------------------------
Your chances of having 3 winning numbers with this ticket are 1.7650404%.
In other words, your chance of winning are 1 in 57
-----------------------------------
Your chances of having 4 winning numbers with this ticket are 0.0968620%.
In other words, your chance of winning are 1 in 1032
-----------------------------------
Your chances of having 5 winning numbers with this ticket are 0.0018450%.
In other words, your chance of winning are 1 in 54201
-----------------------------------